@model MerchantApp.Models.MerchantsTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Merchants" asp-action="Index">
    <p>
        <!-- 
            <select asp-for="MerchantType" asp-items="Model.IndustryType">
                <option value="">All</option>
            </select>
         -->
            Name: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Merchants[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Merchants[0].OfficialUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Merchants[0].SenderEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Merchants[0].Subdomain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Merchants[0].IndustryType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Merchants) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subdomain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IndustryType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
